@import 'tailwindcss';

@layer base {
  body {
    @apply font-mono antialiased;
  }
}

@layer components {
  #canvas {
    --gradient-color-1: #f5f5f5;
    --gradient-color-2: #d4d4d4;
    --gradient-color-3: #a1a1a1;
    --gradient-color-4: #f5f5f5;
  }
}