<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <link rel="manifest" href="/assets/manifest.json" />
  <style>
    #gradient-canvas {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      --gradient-color-1: #3b3b3b;
      --gradient-color-2: #313131;
      --gradient-color-4:	#202020;
      --gradient-color-3: #171717;
    }

    /* Ensure the scrollbar doesn’t push content and has no visible track background */
    ::-webkit-scrollbar {
      width: 8px; /* adjust width as needed */
    }

    ::-webkit-scrollbar-track {
      background: transparent; /* removes the track background */
    }

    ::-webkit-scrollbar-thumb {
      background-color: oklch(0.708 0 0); /* style the thumb as desired */
      border-radius: 4px;
      border: 2px solid transparent;
      background-clip: content-box;
    }

  </style>
</head>
<body class="bg-neutral-900">
  <div class="w-full h-dvh flex flex-col bg-neutral-900">
    <div class="p-4">
      <div class="relative w-full aspect-[7/3] rounded-4xl flex justify-center items-center overflow-hidden">
        <canvas id="gradient-canvas" data-transition-in></canvas>
        <button id="refresh" class="absolute z-10 text-xs text-white top-3 right-3 p-2 bg-neutral-400/40 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw"><path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"/><path d="M16 16h5v5"/></svg>
        </button>
        <span id="total-hours" class="text-5xl z-10 text-white cursor-pointer select-none">{{.TotalHours}} h</span>
        <div id="total-pay" class="relative text-5xl z-10 text-white flex flex-col gap-2 cursor-pointer select-none hidden">
          <span class="text-2xl absolute -left-1 top-0 -translate-x-full">$</span>
          <span>{{fmtCurrency (mul 26.21763 (sub .TotalHours .TotalUnpaid))}}</span>
          <div class="flex gap-4 items-center justify-center">
            <div class="text-sm flex justify-center items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-dollar-sign"><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>            <span>{{sub .TotalHours .TotalUnpaid}} h</span>
            </div>
            <div class="text-sm flex justify-center items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ban"><circle cx="12" cy="12" r="10"/><path d="m4.9 4.9 14.2 14.2"/></svg>
              <span>{{.TotalUnpaid}} h</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full flex-1 overflow-y-scroll px-4 pt-2 pb-8 bg-neutral-200 rounded-t-4xl border border-neutral-200 text-neutral-500 flex flex-col">
      {{range $date, $val := .ShiftData}}
        <div class="mt-2 flex justify-between items-center pl-2">
          <h3 class="text-sm">{{dayOfWeek $date}}</h3>
          <div class="flex gap-2 justify-center items-center">
            <div class="flex justify-center items-center gap-1 bg-neutral-300 py-1 pl-1 pr-2 rounded-full border border-neutral-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock"><circle cx="12" cy="12" r="10"/><polyline points="12 6 12 12 16 14"/></svg>
              <span class="text-xs">{{dayDuration $date}}</span>
            </div>
            <div class="flex justify-center items-center gap-1 bg-neutral-300 py-1 pl-1 pr-2 rounded-full border border-neutral-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-donut"><path d="M20.5 10a2.5 2.5 0 0 1-2.4-3H18a2.95 2.95 0 0 1-2.6-4.4 10 10 0 1 0 6.3 7.1c-.3.2-.8.3-1.2.3"/><circle cx="12" cy="12" r="3"/></svg>
              <span class="text-xs">{{breakTime $date}}</span>
            </div>
          </div>
        </div>

        {{range $item := $val}}
          <div class="relative w-full p-4 rounded-2xl mt-2 border border-neutral-200 flex justify-between items-start {{if hasHappened $item.EndTime}}bg-neutral-300 text-neutral-400{{else}}bg-neutral-100 text-neutral-900{{end}}">
            <div class="absolute top-4 left-4 bottom-4 w-1 {{if hasHappened $item.EndTime}}bg-neutral-400/40{{else}}{{colorFrom $item.Name}}{{end}} rounded-full"></div>
            <div class="ml-4">
              <h2 class="text-xl">{{$item.Name}}</h2>
            </div>
            <div class="flex flex-col justify-end items-center">
              <span class="font-medium">{{timeOnly $item.StartTime}}</span>
              <span class="{{if hasHappened $item.EndTime}}text-neutral-400/60{{else}}text-neutral-500{{end}}">{{timeOnly $item.EndTime}}</span>
            </div>
          </div>
        {{end}}
      {{end}}
    </div>
  </div>
  <script src="/assets/js/app.js" type="module"></script>
</body>
</html>
